# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv/
env/
ENV/
env.bak/
venv.bak/

# TwinCAT files
*.tpy
*.tclrs
*.compiled-library
*.compileinfo
*.tmcRefac
*.library
*.project.~u
*.tsproj.bak
*.xti.bak
LineIDs.dbg
LineIDs.dbg.bak
_Boot/
_CompileInfo/
_Libraries/
_ModuleInstall/

# TwinCAT output and temporary files
*_Bak/
*.compileinfo
*.tmc.*bak
*.bak
*.obj
*.bak.*
*.tclog
*.tmr
*.tpy~
*.xti~
*.bootproject

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translation files
*.mo
*.pot

# Django files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask files
instance/
.webassets-cache

# Scrapy files
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
.pdm.toml
pdm.lock

# PEP 582; __pypackages__
__pypackages__/

# Celery files
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Visual Studio Code settings (optional)
.vscode/

# JetBrains specific files (e.g., PyCharm)
.idea/

# Temporary files created during development
*~
*.tmp
*.log
*.bak

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk